
.grid {
    display:flex ;
    flex-wrap: wrap;
    width: 500px;
    flex-direction: column;
    height: 500px;
  }

  .grids{
    display: flex;
    flex: 1;
  }
  .grid-item {
    display: flex;
    flex: 1;
    border: 1px solid black;
 
  }
