.grid {
    display:flex ;
    flex-wrap: wrap;
    width: 650px;
    justify-content: space-between;
   
  }
  .grid-item {
    background-color: #e0e0e0;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }